<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionDB"
            connectionString="Server=COMPRAS-SERV\SQLEXPRESS; Database=inventarios; User ID=sa; Password=adminsa!;"
            providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>


